<h1>Skill投稿フォーム</h1>

<% if @skill.errors.any? %>
  <%= @skill.errors.count %> errors prohibited this skill from being saved:
  <ul>
    <% @skill.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @skill do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <%= f.text_field :body %><br/>
  <%= f.submit '投稿'%>
<% end %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>本文</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @skills.each do |skill| %>
      <tr>
      <td><%= skill.title %></td>
      <td><%= skill.body %></td>
       <td><%= link_to "Show", skill_path(skill.id) %></td>
       <td><%= link_to "Edit", edit_skill_path(skill.id) %></td>
       </tr>
      <% end %>
   </tbody>
</table>